{% load static %}
<div class="treeview-animated w-100 border mx-1 my-4">
    <ul class="treeview-animated-list mb-3 p-1">
        <li class="treeview-animated-items mb-2">
            <a class="closed bps-lightblue bordersosduk">
                <i class="fas fa-angle-right bps-blue"></i>
                <span class="text-dark font-weight-bold"><i class="far fa-envelope-open font-weight-bold ic-w mx-1 bps-blue"></i>Sosial dan Kependudukan</span>
            </a>
            <ul class="nested">
                <li class="treeview-animated-items">
                    <a class="closed bps-lightblue">
                        <i class="fas fa-angle-right bps-blue"></i>
                        <span class="text-dark">Gender</span>
                    </a>
                    <ul class="nested">
                        <li>
                            <div class="treeview-animated-element bps-lightblue">
                                <i class="fas fa-circle bps-blue" style="font-size: 0.5em;"></i>
                                <span class="text-primary">Tabel1</span>
                            </div>
                        </li>
                        <li>
                            <div class="treeview-animated-element bps-lightblue">
                                <i class="fas fa-circle bps-blue" style="font-size: 0.5em;"></i>
                                <span class="text-primary">Tabel2</span>
                            </div>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </li>
        
        <li class="treeview-animated-items mb-2">
            <a class="closed bps-lightorange borderekperd">
                <i class="fas fa-angle-right bps-orange"></i>
                <span class="text-dark font-weight-bold"><i class="far fa-envelope-open font-weight-bold ic-w mx-1 bps-orange"></i>Ekonomi dan Perdagangan</span>
            </a>
            <ul class="nested">
                <li class="treeview-animated-items">
                    <a class="closed bps-lightorange">
                        <i class="fas fa-angle-right bps-orange"></i>
                        <span class="text-dark">Ekspor Impor</span>
                    </a>
                    <ul class="nested">
                        <li>
                            <div class="treeview-animated-element bps-lightorange">
                                <i class="fas fa-circle bps-orange" style="font-size: 0.5em;"></i>
                                <span class="text-primary">Tabel1</span>
                            </div>
                        </li>
                        <li>
                            <div class="treeview-animated-element bps-lightorange">
                                <i class="fas fa-circle bps-orange" style="font-size: 0.5em;"></i>
                                <span class="text-primary">Tabel2</span>
                            </div>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </li>

        <li class="treeview-animated-items mb-2">
            <a class="closed bps-lightgreen borderpertpert">
                <i class="fas fa-angle-right bps-green"></i>
                <span class="text-dark font-weight-bold"><i class="far fa-envelope-open font-weight-bold ic-w mx-1 bps-green"></i>Pertanian dan Pertambangan</span>
            </a>
            <ul class="nested">
                <li class="treeview-animated-items">
                    <a class="closed bps-lightgreen">
                        <i class="fas fa-angle-right bps-green"></i>
                        <span class="text-dark">Hortikultura</span>
                    </a>
                    <ul class="nested">
                        <li>
                            <div class="treeview-animated-element bps-lightgreen">
                                <i class="fas fa-circle bps-green" style="font-size: 0.5em;"></i>
                                <span class="text-primary">Tabel1</span>
                            </div>
                        </li>
                        <li>
                            <div class="treeview-animated-element bps-lightgreen">
                                <i class="fas fa-circle bps-green" style="font-size: 0.5em;"></i>
                                <span class="text-primary">Tabel2</span>
                            </div>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </li>
    </ul>
</div>