.ajaxProgess {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 220, 184, 0.8);
  z-index: 2;
  cursor: pointer;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.tab{	
	background-color: #ffffff;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.7s linear;
}

.tab i{
	font-size: 1.5em;
	margin-left: 1px;
}

.tab p{
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
	max-width: 0;
	margin-left: 0px;
	margin-bottom: 10px; 
	margin-top:10px;
	padding: 0;
}

.tab.active p{
	margin-left: 1px;
	max-width: 200px;
	transition: max-width 0.7s linear;
}
.nav-item.active.tabhome{
	background: rgb(253, 223, 223);
	color: rgb(191, 23, 23);
}
.nav-item.active.tabdata{
	background: rgb(252, 247, 222);
	color: rgb(191, 146, 23);
}
.nav-item.active.tabpublikasi{
	background: rgb(222, 253, 224);
	color: rgb(17, 143, 55);
}
.nav-item.active.tabbrs{
	background: rgb(222, 243, 253);
	color: rgb(17, 101, 143);
}
.nav-item.active.tabberita{
	background: rgb(240, 222, 253);
	color: rgb(82, 17, 143);
}


.bps-lightblue{
	background-color: rgb(227, 246, 255)!important;
}

.bps-lightgreen{
	background-color: rgb(227, 246, 222)!important;
}

.bps-lightorange{
	background-color: rgb(255, 243, 222)!important;
}

.bg-white{
	background-color: rgb(255, 255, 255);
}

.bps-blue{
	color: rgb(51, 149, 205)!important;
}
.bps-orange{
	color: rgb(228, 145, 55)!important;
}
.bps-green{
	color: rgb(117, 179, 60)!important;
}

.bordersosduk{
	border-top: 5px solid rgb(51, 149, 205);
}

.borderekperd{
	border-top: 5px solid rgb(228, 145, 55);
}

.borderpertpert{
	border-top: 5px solid rgb(117, 179, 60);
}

.treeview-animated .treeview-animated-list .treeview-animated-items .nested::before {
    position: absolute;
    left: 5px;
    display: block;
    width: 5px;
    height: 100%;
    content: "";
    background-color: rgb(222,222,222)!important;
}

.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}