{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="tab-content pb-5" id="pills-tabContent">
        <!--### LOADING CIRCLE ###-->
        <div class="output">
            <div class="container ">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="ajaxProgess">
                            <div class="text">
                                <img src="{% static "gif/spinner.gif" %}">
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>  

        <!--### HOME ###row3-->
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container mb-2">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-10">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <!--### PUBLIKASI ###-->
        <div class="tab-pane fade" id="pills-publikasi" role="tabpanel" aria-labelledby="pills-publikasi-tab">
            <div class="container container-publikasi mt-3 mb-2">
                <div class="row d-flex justify-content-center">
                    <div class="row2 col-md-10">
                    </div>
                </div>
                <div class="row d-flex justify-content-center"><button class="btn btn-dark" type="submit" id="load_pub">Load More</button></div>       
            </div>
        </div>	
        	
        <!--### DATA ###-->
        <div class="tab-pane fade" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
            <div class="container container-data">
                <div class="row row4 d-flex justify-content-center">
                    {% include "snippets/treeview.html" %}
                </div>
            </div>
        </div>
        
        <!--### BRS ###-->
        <div class="tab-pane fade" id="pills-brs" role="tabpanel" aria-labelledby="pills-brs-tab">
            <div class="container container-brs">
                <div class="row row5 d-flex justify-content-center">
                    
                </div>
                <div class="row d-flex justify-content-center"><button class="btn btn-dark" type="submit" id="load_brs">Load More</button></div>       
            </div>
        </div>

        <!--### BERITA ###-->
        <div class="tab-pane fade" id="pills-berita" role="tabpanel" aria-labelledby="pills-berita-tab">
            <div class="container container-berita">
                <div class="row row1 d-flex justify-content-center">
                     
                </div>
                <div class="row d-flex justify-content-center text-light"><button class="btn btn-info" type="submit" id="load_news" >Load More</button></div>   

            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% include "snippets/scripts.html" %}
    {% csrf_token %}
    <script>

    const tabs = document.querySelectorAll('.nav-item');
    tabs.forEach(clickedTab => {
        clickedTab.addEventListener('click', () => {
            tabs.forEach(tab => {
                tab.classList.remove('active');
            });
            clickedTab.classList.add('active');
            // var clickedContainer = document.getElement
            
            var par = (clickedTab.getAttribute('class')).toString().split(' ')[1].replace('tab','');
            // console.log(par);
            document.getElementById('pills-'+par+'-tab').click();
        });
        
    });

    // Treeview Initialization
    $(document).ready(function() {
        $('.treeview-animated').mdbTreeview();
    });

    $(document).ready(function(){
        ////BERITA////
        //INIT
        $("#pills-berita-tab").on('click',function(){
            $(".ajaxProgess").show();
            $(".container-berita").hide();
            $('#header').text('Berita');
            $(window).scrollTop(0);
            $("#load_news").show();
            $("#load_news").removeClass('disabled').text('Load More');
            $.ajax({
                url:"{% url 'load_init_news' %}",
                type:'post',
                data:{
                    'csrfmiddlewaretoken':"{{csrf_token}}"
                },
                dataType:'json',
                success:function(res){
                    $(".ajaxProgess").hide();
                    $(".container-berita").show();
                    var _html='';
                    var json_data=res.posts;
                    $.each(json_data,function(index,data){
                        _html+='<div class="card post-box-news border-info m-1" style="width: 30rem;">'+
                            '<div class="card-body">'+
                            '<h5 class="card-title">'+data.title+'</h5>'+
                            '<p class="card-text">'+data.rl_date+'</p>'+
                            '</div>'+
                            '</div>'
                            ;
                       });
                    $(".row1").html(_html);
                    // console.log('success');
                    
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log('error');
                }   
            });
        });
        //ADD MORE
        $("#load_news").on('click',function(){
            $(".ajaxProgess").show();
            var _currentResult=$(".post-box-news").length;
            $.ajax({
                url:"{% url 'load_more_news' %}",
                type:'post',
                data:{
                    'offset':_currentResult,
                    'csrfmiddlewaretoken':"{{csrf_token}}"
                },
                dataType:'json',
                beforeSend:function(){
                    $("#load_news").addClass('disabled').text('Loading..');
                },
                success:function(res){
                    $(".ajaxProgess").hide();
                    var _html='';
                    var json_data=res.posts;
                    $.each(json_data,function(index,data){
                        _html+='<div class="card post-box-news border-info m-1" style="width: 30rem;">'+
                            '<div class="card-body">'+
                            '<h5 class="card-title">'+data.title+'</h5>'+
                            '<p class="card-text">'+data.rl_date+'</p>'+
                            '</div>'+
                            '</div>'
                            ;
                       });
                    $(".row1").append(_html);
                    var _countTotal=$(".post-box-news").length;
                    console.log(_countTotal,+'--'+res.totalResult);
                    
                    if(_countTotal==res.totalResult){
                        $("#load_news").hide();
                    }else{
                        $("#load_news").removeClass('disabled').text('Load More');
                    }
                }
            });
        });

        ////PUBLIKASI////
        //INIT
        $("#pills-publikasi-tab").on('click',function(){
            if($(".post-box-pub").length<1){
                $(".ajaxProgess").show();
                $(".container-publiaksi").hide();
                $('#header').text('Publikasi');
                $(window).scrollTop(0);
                $("#load_pub").show();
                $("#load_pub").removeClass('disabled').text('Load More');
                $.ajax({
                    url:"{% url 'load_init_pub' %}",
                    type:'post',
                    data:{
                        'csrfmiddlewaretoken':"{{csrf_token}}"
                    },
                    dataType:'json',
                    success:function(res){
                        $(".ajaxProgess").hide();
                        $(".container-berita").show();
                        var _html='';
                        var json_data=res.posts;
                        console.log(json_data);
                        $.each(json_data,function(index,data){
                            _html+=
                            '<div class="row p-2 mb-2 bg-white border rounded post-box-pub" id="'+data.pub_id+'">'+
                            '<div class="col-md-3 mt-1 d-flex justify-content-center">'+
                                '<img class="img-fluid img-responsive rounded product-image" src="'+data.cover+'" style="max-width:150px;" loading="lazy">'+
                            '</div>'+
                            '<div class="col-md-6 mt-1">'+
                                '<p class="h5 font-weight-bold pl-1">'+data.title+'</p>'+
                                '<div class="container">'+
                                    '<div class="row d-flex flex-row">'+
                                        '<p class="text-success pt-0 m-0">Ukuran : '+data.size+'</p>'+
                                        '<p class="text-success font-weight-bold m-0">&nbsp|&nbsp</i>'+
                                        '<p class="text-success m-0">Tanggal Rilis : '+data.rl_date+'</p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                            '<div class="align-items-center col-md-3 border mt-1  bg-white">'+
                                '<div class="d-flex flex-column mt-0">'+
                                    '<button class="btn btn-outline-success btn-sm rounded-pill" type="button">Detail</button>'+
                                    '<a class="btn btn-info btn-sm mt-0 mb-2 rounded-pill" role="button" href="'+data.pdf+'">Unduh</a>'+
                                '</div>'+
                            '</div>'+
                            '</div>'
                            ;
                           });
                        $(".row2").html(_html);
                        
                    }
                });
            }
            
        });
        //ADD MORE
        $("#load_pub").on('click',function(){
            $(".ajaxProgess").show();
            var _currentResult=$(".post-box-pub").length;
            $.ajax({
            	url:"{% url 'load_more_pub' %}",
            	type:'post',
            	data:{
            		'offset':_currentResult,
            		'csrfmiddlewaretoken':"{{csrf_token}}"
            	},
            	dataType:'json',
            	beforeSend:function(){
            		$("#load_pub").addClass('disabled').text('Loading..');
            	},
            	success:function(res){
                    $(".ajaxProgess").hide();
            		var _html='';
            		var json_data=res.posts;

            		$.each(json_data,function(index,data){
            			_html+=
                            '<div class="row p-2 mb-2 bg-white border rounded post-box-pub ">'+
                            '<div class="col-md-3 mt-1 d-flex justify-content-center">'+
                                '<img class="img-fluid img-responsive rounded product-image" src="'+data.cover+'" style="max-width:150px;" loading="lazy">'+
                            '</div>'+
                            '<div class="col-md-6 mt-1">'+
                                '<p class="h5 font-weight-bold pl-1">'+data.title+'</p>'+
                                '<div class="container">'+
                                    '<div class="row d-flex flex-row">'+
                                        '<p class="text-success pt-0 m-0">Ukuran : '+data.size+'</p>'+
                                        '<p class="text-success font-weight-bold m-0">&nbsp|&nbsp</i>'+
                                        '<p class="text-success m-0">Tanggal Rilis : '+data.rl_date+'</p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                            '<div class="align-items-center col-md-3 border mt-1  bg-white">'+
                                '<div class="d-flex flex-column mt-0">'+
                                    '<button class="btn btn-outline-success btn-sm rounded-pill" type="button">Detail</button>'+
                                    '<button class="btn btn-info btn-sm mt-0 mb-2 rounded-pill" type="button">Unduh</button>'+
                                '</div>'+
                            '</div>'+
                            '</div>'
                        ;
                       });
            		$(".row2").append(_html);
            		var _countTotal=$(".post-box-pub").length;
            		console.log(_countTotal,+'--'+res.totalResult);
            		
            		if(_countTotal==res.totalResult){
            			$("#load_pub").remove();
            		}else{
            			$("#load_pub").removeClass('disabled').text('Load More');
            		}
            	}
            });
        });

        ////BRS////
        //INIT
        $("#pills-brs-tab").on('click',function(){
            $(".ajaxProgess").show();
            $(".container-brs").hide();
            $('#header').text('Berita Resmi Statistik');
            $(window).scrollTop(0);
            $("#load_pub").show();
            $("#load_pub").removeClass('disabled').text('Load More');
            $.ajax({
                url:"{% url 'load_init_brs' %}",
                type:'post',
                data:{
                    'csrfmiddlewaretoken':"{{csrf_token}}"
                },
                dataType:'json',
                success:function(res){
                    $(".ajaxProgess").hide();
                    $(".container-brs").show();
                    var _html='';
                    var json_data=res.posts;
                    $.each(json_data,function(index,data){
                        _html+='<div class="card post-box-news border-info m-1" style="width: 30rem;">'+
                            '<div class="card-body">'+
                            '<h5 class="card-title">'+data.title+'</h5>'+
                            '<p class="card-text">'+data.rl_date+'</p>'+
                            '</div>'+
                            '</div>'
                            ;
                       });
                    $(".row5").html(_html);
                    
                }
            });
        });
        //ADD MORE
        $("#load_brs").on('click',function(){
            $(".ajaxProgess").show();
            var _currentResult=$(".post-box-brs").length;
            $.ajax({
                url:"{% url 'load_more_brs' %}",
                type:'post',
                data:{
                    'offset':_currentResult,
                    'csrfmiddlewaretoken':"{{csrf_token}}"
                },
                dataType:'json',
                beforeSend:function(){
                    $("#load_brs").addClass('disabled').text('Loading..');
                },
                success:function(res){
                    $(".ajaxProgess").hide();
                    var _html='';
                    var json_data=res.posts;
                    $.each(json_data,function(index,data){
                        _html+='<div class="card post-box-news border-info m-1" style="width: 30rem;">'+
                            '<div class="card-body">'+
                            '<h5 class="card-title">'+data.title+'</h5>'+
                            '<p class="card-text">'+data.rl_date+'</p>'+
                            '</div>'+
                            '</div>'
                            ;
                       });
                    $(".row5").append(_html);
                    var _countTotal=$(".post-box-brs").length;
                    console.log(_countTotal,+'--'+res.totalResult);
                    
                    if(_countTotal==res.totalResult){
                        $("#load_brs").remove();
                    }else{
                        $("#load_brs").removeClass('disabled').text('Load More');
                    }
                }
            });
        });

        ////DATA////
        //INIT
        $("#pills-data-tab").on('click',function(){
            $(".ajaxProgess").show();
            $(".container-data").hide();
            $('#header').text('Data Statistik');
            $(window).scrollTop(0);
            var sosial;
            var ekonomi;
            var pertanian;
            $.ajax({
                url:"{% url 'load_init_data' %}",
                type:'post',
                data:{
                    'csrfmiddlewaretoken':"{{csrf_token}}"
                },
                dataType:'json',
                success:function(res){
                    $(".ajaxProgess").hide();
                    $(".container-data").show();
                    sosial=res.sosial;
                    ekonomi=res.ekonomi;
                    pertanian=res.pertanian;
                    console.log(sosial);
                    var _html1='';
                    $.each(sosial,function(index,data){
                        _html1+='<li class="treeview-animated-items">'+
                                    '<a class="closed bps-lightblue">'+
                                        '<i class="fas fa-angle-right bps-blue"></i>'+
                                        '<span class="text-dark">'++'</span>'+
                                    '</a>'+
                                    '<ul class="nested">'+
                                        '<li>'+
                                            '<div class="treeview-animated-element bps-lightblue">'+
                                                '<i class="fas fa-circle bps-blue" style="font-size: 0.5em;"></i>'+
                                                '<span class="text-primary">Tabel1</span>'+
                                            '</div>'+
                                        '</li>'+
                                        '<li>'+
                                            '<div class="treeview-animated-element bps-lightblue">'+
                                                '<i class="fas fa-circle bps-blue" style="font-size: 0.5em;"></i>'+
                                                '<span class="text-primary">Tabel2</span>'+
                                            '</div>'+
                                        '</li>'+
                                    '</ul>'+
                                '</li>'
                            ;
                       });
                    $(".categorysosial").html(_html1);
                    
                    
                }
            });
        });
    });
    </script>
{% endblock scripts %}
